<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin User Management</title>
</head>
<body>
    <h2>Users List</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td>
                    <a th:href="@{/admin/user/{id}(id=${user.id})}">View</a>
                    <a th:href="@{/admin/user/delete/{id}(id=${user.id})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
